body {
    background-color: tomato;
    text-align: center;
    color: white;
    font-family: 'Alfa Slab One', cursive;
}

h1 {
    font-family: 'Alfa Slab One', cursive;
}

ul {
    list-style-type: none;
    text-align: left;
}

li {
    margin: 0 0 5px 0;
}

label input[type=checkbox]{
    position: relative;
    vertical-align: middle;
    bottom: 2px;
    margin-right: 10px;
}

button {
    background-color :white;
    border: 1px solid red;
    width: 200px;
    height: 70px;
    font-size: 20px;
    font-family: inherit;
    color: tomato;
}

#convert-button {
    display: none;
}

#youtube-login {
    display: none;
}